STRIPE_SECRET_KEY=
STRIPE_SUCCESS_URL=http://127.0.0.1:8000/success.html
STRIPE_CANCEL_URL=http://127.0.0.1:8000/store.html
RESEND_API_KEY=
RESEND_FROM=onboarding@resend.dev
CONTACT_TO_EMAIL=hello@trailmapsnz.co.nz
